
#poptrox {
	width: 2200 px;
	margin: 0px auto;
	padding: 30px 20px 0px 20px;
	border-radius: 10px;
}

#gallery {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	line-height: normal;
	padding-left: 30px;
	padding-bottom: 30px;
}

#gallery img {
	border-radius: 5px;
	border: 0;
}

#gallery a:hover img {
}

#gallery .nopad {
	padding-left: 10px;
}